<a href="https://colab.research.google.com/github/KimJunGu9/2.algorithm/blob/main/2_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 배열**

* 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성한 자료구조
* 파이썬의 리스트 타입은 배열 기능을 제공함

### **1-1. 배열이 필요한 이유**
* 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
* 같은 종류의 데이터를 순차적으로 저장
* 빠른 접근이 가능(인덱스 번호로 접근)

### **1-2. 배열의 단점**
* 데이터의 추가 / 삭제가 어려움
* 미리 최대 길이를 설정해야 함

In [ ]:
# 1차원 배열 : 리스트로 구현
arr_list = [1, 2, 3, 4, 5]
print(arr_list)

[1, 2, 3, 4, 5]

In [ ]:
# 2차원 배열 : 리스트로 구현
arr_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(arr_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(arr_list[0])
print(arr_list[0][0])
print(arr_list[1][2])

[1, 2, 3]
1
6

In [ ]:
# arr_list에서 값을 9 8 7 순서로 출력
print(arr_list[2][2], arr_list[2][1], arr_list[2][0] )

9 8 7

In [ ]:
# 다음 dataset 배열에서 전체 이름안에 'M'이라는 글자는 몇 번 나왔는지 빈도 수를 출력
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']


m_count = 0  # 변수를 m_count로 설정한다,  M이 몇 개 있는지를 카운트 할 변수를 0으로 초기화 시킨다.  # for문을 돌려가면서 m을 찾아가면서 1씩 더함

for data in dataset:     # dataset에 있는 것을 한개한개씩 data에 넣어준다.   # 앞에 변수() 
  for index in range(len(data)):  # 그리고 data의 갯수만큼 range 돌린다. (글자 한글자 한글자를 뽑아서 index에 넣는다.)
    if data[index] == 'M':
      m_count += 1

print(m_count)

38